# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Secrets and environment files
.env

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/